*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clearfix::after{
	content: "";
    display: table;
    clear: both;
}

main{
    width: 85%;
    margin: 0 auto;
}

.container{
    padding: 0 20px;
}

.header, .content, .main-top, .main-side, .main-middle, .footer{
    float: left;
}

.header, .content, .main-top, .footer{
    width: 100%;
}

.header{
    height: 150px;
}

.content{
    height: 500px;
    background-image: url(../img/banner.jpg);
    filter: brightness(80%);
    background-size: 80%;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.container-main{
    margin: 20px 20px 10px 20px;
}

.main-top, .header{
    margin-bottom: 20px;
}

.main-top{
    height: 100px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.main-side, .main-middle{
    height: 470px;
    display: inline-block;
}

.main-side{
    width: calc((30% / 2) - 20px);
}

.img-side-left{
    background-image: url(../img/img-1.jpg);
    filter: brightness(80%);
    background-position: center;
    background-size: 95%;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.img-side-left:hover, .img-side-right:hover, .img-main-middle:hover{
    border: 2px solid red;
}

.img-side-left:active, .img-side-right:active, .img-main-middle:active{
    border: 2px solid yellow;
}

.img-side-right{
    background-image: url(../img/img-3.jpg);
    filter: brightness(80%);
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.main-description-title{
    margin-top: 20px;
    font-weight: bold;
}

.main-description{
    margin-top: 10px;
    color: #adadad;
}

.main-middle{
    width: calc(70%);
    margin: 0 20px 20px;
}

.img-main-middle{
    background-image: url(../img/banner-2.jpg);
    background-size: 60%;
    filter: brightness(80%);
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.container-footer{
    padding: 0 20px 20px 20px;
}

.footer{
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

#header-logo{
    height: 50%;
    padding-right: 20px;
    border-right: 1px solid #adadad;
}

li{
    display: inline;
    margin-right: 10px;
    font-size: 1.1em;
    color: #adadad;
    padding: 10px;
}

ul{
    margin: 20px 0;
}

li:hover{
    background-color: lightgrey;
}

li:active{
    background-color: black;
}

#main-top-title{
    font-size: 2.5em;
    color: black;
    font-weight: bolder;
}

#main-top-description{
    color: #adadad;
    font-size: 1.2em;
}

#hearth{
    color: red;
    font-size: 2em;
    vertical-align: middle;
}

#content-text-title{
    color: white;
    font-size: 2em;
    position: absolute;
    top: 500px;
    left: 220px;
}

#content-text-description{
    color: white;
    position: absolute;
    top: 580px;
    left: 220px;
}